* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.caja1 {
    background-color: rgb(207, 107, 60);
    height: 50px;
}

.caja2 {
    background-color: rgb(43, 255, 0);
    display: flex;
    flex-wrap: wrap;
}

.caja3 {
    background-color: rgb(11, 253, 180);
    height: 2500px;
}


.caja4 {
    background-color: rgb(253, 148, 11);
    height: 2500px;
}